.icon-facebook { background-image: url('png/facebook.png'); background-repeat: no-repeat; }

.icon-gplus { background-image: url('png/gplus.png'); background-repeat: no-repeat; }

.icon-page_white_word { background-image: url('png/page_white_word.png'); background-repeat: no-repeat; }

.icon-page_white_world { background-image: url('png/page_white_world.png'); background-repeat: no-repeat; }

.icon-page_white_wrench { background-image: url('png/page_white_wrench.png'); background-repeat: no-repeat; }

.icon-page_word { background-image: url('png/page_word.png'); background-repeat: no-repeat; }

.icon-page_world { background-image: url('png/page_world.png'); background-repeat: no-repeat; }

.icon-pinterest { background-image: url('png/pinterest.png'); background-repeat: no-repeat; }

